/*font-familes*/
@font-face {
    font-family: Montserrat;
       src: url('../fonts/custom-fonts/montserrat.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
       src: url('../fonts/custom-fonts/montserrat-bold.ttf');
}
@font-face {
    font-family: Playfairdisplay;
       src: url('../fonts/custom-fonts/Playfairdisplay.otf');
}
@font-face {
    font-family: proximanova-Bold;
       src: url('../fonts/custom-fonts/proximanova-bold.ttf');
}
@font-face {
    font-family: proximanova-regular;
       src: url('../fonts/custom-fonts/proximanova-regular.ttf');
}

/*Common code*/
body, .site-header, .site-footer {
	border: none;
}
.blurp--top {
	display: none;
}
.down-arrow {
	display: none;
}
.color-blue {
	color: #7bade1;
}

/*Home Page Code*/
.navigation--main {
	float: left;
}
#post-205-title, 
#post-553-title,
#post-966-title {
	.headline__secondary {
		font-family: Montserrat;
		font-size: 16px;
	    line-height: 19px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
		margin-bottom: 35px;
		color: #61A4EA;
		&:after {
			position: absolute;
			content: " ";
			background-image: url('../images/divWave-sprite.png');
			width: 42px;
			height: 10px;
			left: 8%;
			bottom: -30px;
			background-position: 0 -100px;
		}
		.first-letter {
			top:0;
			font-size: inherit;
		}
	}
	.headline__primary {
		font-family: proximanova-Bold;
		font-size: 60px;
	    line-height: 78px;
	    letter-spacing: 5px!important;
	    text-transform: capitalize;
	}
	.flexbox__item {
		text-align: left;
	}
	.article__headline {
		text-align: left;
		margin-left: 4%;
	}
}
#post-553-title {
	.headline__secondary {
		color: #FCCDC6;
		&:after {
			left: 6%;
			background-position: 0 -300px;
		}
	}
}
.covers {
	margin: 0;
}
.multipoint-gallery .gallery-item{
	border: none;
}

/*Meet-the-team page*/
.team-container {
	.team-flat {
		.team-item {
			width: 33%;
		}
	} 
}

/*Meet-the-team page*/
.article__header {
	.article__headline{
		.custom-btn {
			height: 47px;
			border-radius: 46px;
			border: 1px solid transparent;
			padding: 13px 30px;
			font-size: 12px;
			font-weight: 600;
			background: #fff;
			color: #000;
			line-height: 1.6;
			opacity: 1;
			transition: all 200ms ease-in-out;
			&:hover {
				border: 1px solid #fff;
				background: none;
				color: #FFF;
			}
		}		 
	} 
}

/* Blog Page */
.article-custom {
	padding: 0;
}
.grid-item {
    float: left;
    position: relative;
    overflow: hidden;
    h3, small {
    	position: absolute;
    	color: #fff;
    	bottom: 25px;
    	margin: 0;
    	z-index: 9;
    	text-transform: capitalize;
    	letter-spacing: 0;
    	word-break: break-word;
    	font-family: 'Poppins', sans-serif;
    }
    .image-container {
    	width: 100%;
    	height: 100%;
    	display: block;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	-webkit-transition: 0.4s ease-in-out;
  				transition: 0.4s ease-in-out;
		.linear-background {
			height: 100%;
			width:100%;
			background-color: transparent !important;
			background-image: -webkit-linear-gradient(bottom, #141618 0%, transparent 50%) !important;
			background-image: -moz-linear-gradient(bottom, #141618 0%, transparent 50%) !important;
			background-image: -o-linear-gradient(bottom, #141618 0%, transparent 50%) !important;
			background-image: linear-gradient(to top, #141618 0%, transparent 50%) !important;
			-webkit-transition: 0.4s ease-in-out;
  					transition: 0.4s ease-in-out;
			&:hover {
				background-image: none !important;
			}
		}
    	&:hover {
	        -webkit-transform: scale(1.08);
  				transform: scale(1.08);
    	}
    }

}
.grid-col-6 {
	width: 100%;
	height: 480px;
}
.grid-col-8 {
	width: 100%;
	height: 365px;
}
.grid-col-3 {
	width: 100%;
	height: 250px;
}
div.float-right {
	float: right;
}

/*Blog-post-single-page*/
.single-blog-post, .page-template-blog-post {
	.headline__primary {
		font-family: Poppins;
		font-size: 6em;
	    line-height: 78px;
	    letter-spacing: 0!important;
	    line-height: 1.2;
	    font-weight: 600;
	    text-transform: none;
	    padding: 0 15px;
	}
	.headline__description {
		p {
			font-size: 1.4em;
		}
	}
	.article__parallax {
		.header-overlay {
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.56);
			z-index: 9;
			top: 0;
		}
	}
}

/*Comments section code*/
#comments {
    &:after, &:before {
    	display: none;
    }
	.comments-area-title {
		border-top: 1px solid #ccc;
	    padding: 25px 0;
	    border-bottom: 1px solid #ccc;
	    color: #303133;
	    h3 {
	    	color: #303133;
	    }
	    span {
	    	background-color: transparent;
	    	color: #303133;
	    	border: none;
	    }
	    .comments_add-comment {
	    	display: none;
	    }
	}
}
.comment {
	&:before {
		display: none;
	}
}
time {
	display: block;
}
.comment-number {
	display: none;
}
.commentlist > .comment, .commentlist > .pingback {
	padding-left: 0;
}
.comment-article .comment-edit-link, .comment-article .comment-reply-link {
	opacity: 1;
}
.comment__avatar {
	img {
		border-radius: 30px;
	}
}
.children {
	border-top: 1px solid #ccc;
	margin: 0!important; 
}
.comment__links {
	display: inline-block;
	float: right;
	a {
		color: #000;
		display: block;
	}
}
#respond {
	border-top: 1px solid #ccc;
	padding-top: 25px; 
}
.comment-form-comment textarea, 
.form-submit textarea, 
.comment-subscription-form textarea {
	border: 1px solid #ccc;
	background-image: none;
	padding: 10px;
	&:focus {
		border-color: #0cb4ce;
	}
}
// .one-third, 
// .two-sixths, 
// .four-twelfths, 
// .comment-form-author, 
// .comment-form-email, 
// .comment-form-url {
// 	width: 100%;
// }
.comment-form-author label, 
.comment-form-email label, 
.comment-form-url label, 
.comment-form label {
	display: block;
    color: #000;
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
}
.comment-form-author input, 
.comment-form-email input, 
.comment-form-url input {
	padding: 10px;
    border: 1px solid #d8d8d8;
    &:focus {
		border-color: #0cb4ce;
	}
}

/*Work-with-Us*/
#post-790-title {
	.flexbox {
		.flexbox__item {
			vertical-align: top;
			.headline__description {
				p {
					margin: 35px;
					color: #000;
					font-size: 16px;
				}
			}
		}
	}
}
#post-790 {
	padding: 0;
	.article__content {
		background-color: #000;
		.grid__item {
			h1, p, ul {
				color: #fff;
			}
		}
	}
}
.work-section-first {
	float: left;
	width: 100%;
	img {
		float: left;
		margin-top: 2px;
		margin-left: 5px;
	}
}
.work-section-second {
	float: left;
	width: 100%;
	img {
		float: left;
		margin-top: 5px;
		margin-left: 5px;
	}
}
.works-with-title {
	font-weight: normal;
	text-align: center;
	margin-top: 0;
}

.dummy-space {
	height: 400px;
	width: 100%;
}
/*footer section*/
.sidebar--footer__dark {
    background: url('../images/footer-image.jpg') no-repeat;
    background-size: cover;
     -webkit-filter: grayscale(100%);
 		-moz-filter: grayscale(100%);
		 -ms-filter: grayscale(100%);
		  -o-filter: grayscale(100%);
 			 filter: grayscale(100%);
			 filter: gray; /* IE 6-9 */
}
.site-footer .widget_wpgrade_social_links .pixcode--icon:hover {
	color: #d3d3d3;
}
.footer-widget-area .widget .widget__title {
	font-size: 28px;
	opacity: .8;
}
.office_hours {
	opacity: .8;
	.content {
		display: block;
	}
}
.saturday_time {
	margin-top: 20px;
}
.imagine,
.myotherapy {
	font-size: 20px;
}
.myotherapy {
	margin-top: 20px;
}
.sperling {
	margin: 0;
	margin-top: 20px;
	font-size: 23px;
	font-weight: bold;
}


/*blog Page*/
.blog-flex {
	display: flex;
	.col-8 {
		width: 74%;
		padding-bottom: 25px;
		.blogs {
			padding-left: 35px;
		}
	}
	.col-4 {
		width: 26%;
		padding: 30px;
		background-color: #f7f7f7;
	}
}
.blog-wrap {
	width: 50%;
	float: left;
	padding: 30px 35px 0 0;
	display: block;
	box-sizing: border-box;
	.inner-blog {
		border: 1px solid #eaeaea;
		border-radius: 5px;
		-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
		   -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
		.blog-heading {
			font-size: 16px;
			margin: 25px;
			margin-bottom: 0;
		}
		small {
			padding-left: 25px;
			display: block;
			color: #777;
		}
		p,
		.admin-detail {
			padding: 10px 25px 0 25px;
			font-size: 15px;
			color: #777;
		}
		hr {
			color: #eaeaea;
			margin: 15px 25px;
			border-bottom: 1px solid;
		}
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
		span {
			display: inline-block;
			padding-left: 10px;
			vertical-align: top;
			font-weight: bold;
			font-size: 14px;
		}
		.admin-detail {
			padding-bottom: 25px;
		}
	}
}
.blog-wrap:last-child {
	padding-bottom: 30px;
}
.clear {
	clear: both;
}
.blog-wrap:nth-child(3),
.blog-wrap:nth-child(5) {
	float: right;
}
.btn-list a {
	margin-left: 10px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 50%;
	opacity: .8;
	transition: .3s ease-in-out;
	&:hover {
		opacity: .4;
	}
}
.site-footer .widget_wpgrade_social_links a {
	padding: 12px;
	padding-bottom: 8px;
}
.site-footer .widget_wpgrade_social_links .pixcode--icon::before {
	margin: 0;
}
.site-footer .widget_wpgrade_social_links .pixcode--icon {
	font-size: 20px;
}
#menu-footer-menu {
	text-align: left;
	li {
		width: 24%;
		text-align: center;
		&:after {
			content: "";
		}	
	}
}
.btn--top {
	right: 100px;
    top: 20px;
    left: inherit;
}
.btn-book-online {
	width: 200px;
    padding: 15px;
    border: 2px solid #5e9ee1;
    margin-top: 25px;
    border-radius: 30px;
    background: transparent;
}
.article__header .article__headline a.custom-btn {
	height: 47px;
	border-radius: 46px;
	border: 1px solid #7bade1;
	background: none;
	color: #fff;
	padding: 13px 30px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.6;
	opacity: 1;
	transition: all 200ms ease-in-out;
	&:hover {
		border: 1px solid #fff;
		color: #fff;
		}
 }
.article__header .article__headline .headline__primary {
	margin-bottom: 15px;
	text-transform: capitalize;
}
.headline__primary {
	text-align: left;
}


/*Contact page*/ 
#post-966-title {
	position: relative;
	.headline__secondary {
		&:after {
			left: 8%;
		}
	}
	.headline__primary {
		display: none;
	}
	.headline__description {
		.contact_heading {
			font-family: proximanova-Bold;
			text-transform: none;
			font-size: 60px;
		}
		.contact-socail-icon {
			position: absolute;
			list-style: none;
			li {
				display: inline;
			}
		}
	}
}
.keep-col {
	padding: 10px;
	h2 {
		font-family: proximanova-Bold;
		font-size: 40px;
		text-decoration: none;
		text-transform: none;
		letter-spacing: 1px;
		margin-top: 10px;
	}
	table {
		tr {
			background-color: transparent!important;
			color: #000;
			th {
				font-family: proximanova-Bold;
				font-size: 18px;
				letter-spacing: 1px;
				padding-left: 0;
				padding-top: 0;
			}
			td {
				padding: 0;
				a {
					border-bottom: none!important;
					margin-right: 15px;
					i {
						color: #d3d3d3!important;
						font-size: 13px;
					}
					&:hover,
					&:focus {
						i {
							color:  #7bade1!important;
						}
					}
				}
			}
		}
	}
	.margin-zero {
		margin: 0;
	}
	.subscribe-heading {
		margin-bottom: 15px;
	}
}
.subscribe-heading {
	font-family: proximanova-Bold;
    font-size: 40px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 10px;
}
.article__header .article__headline .headline__primary {
	font-family: proximanova-Bold;
}

/*Material Design Code*/
.newsletter-container {
	position: relative;
	.custom-btn {
		height: 47px;
		border-radius: 46px;
		border: 1px solid #7bade1;
		background: none;
		color: #000;
		padding: 13px 30px;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.6;
		opacity: 1;
		transition: all 200ms ease-in-out;
		&:hover {
			border: 1px solid #7bade1;
			background: #7bade1;
			color: #fff;
		}
	} 
}
.newsletter-container .form-group textarea {
	resize: none;
}
.newsletter-container .form-group select {
	width: 100%;
	font-size: 1rem;
	height: 1.6rem;
	padding: 0.125rem 0.125rem 0.0625rem;
	background: none;
	border: none;
	line-height: 1.6;
	box-shadow: none;
}
.newsletter-container .form-group .control-label {
	position: absolute;
	top: 0.25rem;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	color: #b3b3b3;
	font-size: 1rem;
	font-weight: normal;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
}
.newsletter-container .form-group .bar {
	position: relative;
	border-bottom: 0.0625rem solid #999;
	display: block;
}
.newsletter-container .form-group .bar::before {
	content: '';
	height: 0.125rem;
	width: 0;
	left: 50%;
	bottom: -0.0625rem;
	position: absolute;
	background: #337ab7;
	-webkit-transition: left 0.28s ease, width 0.28s ease;
	transition: left 0.28s ease, width 0.28s ease;
	z-index: 2;
}
.newsletter-container .form-group input,
.newsletter-container .form-group textarea {
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	font-size: 1rem;
	border-width: 0;
	border-color: transparent;
	line-height: 1.9;
	width: 100%;
	color: transparent;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
	box-shadow: none;
}
.newsletter-container .form-group input[type="file"] {
	line-height: 1;
}
.newsletter-container .form-group input[type="file"] ~ .bar {
	display: none;
}
.newsletter-container .form-group select,
.newsletter-container .form-group input:focus,
.newsletter-container .form-group input:valid,
.newsletter-container .form-group input.form-file,
.newsletter-container .form-group input.has-value,
.newsletter-container .form-group textarea:focus,
.newsletter-container .form-group textarea:valid,
.newsletter-container .form-group textarea.form-file,
.newsletter-container .form-group textarea.has-value {
	color: #333;
}
.newsletter-container .form-group select ~ .control-label,
.newsletter-container .form-group input:focus ~ .control-label,
.newsletter-container .form-group input:valid ~ .control-label,
.newsletter-container .form-group input.form-file ~ .control-label,
.newsletter-container .form-group input.has-value ~ .control-label,
.newsletter-container .form-group textarea:focus ~ .control-label,
.newsletter-container .form-group textarea:valid ~ .control-label,
.newsletter-container .form-group textarea.form-file ~ .control-label,
.newsletter-container .form-group textarea.has-value ~ .control-label {
	font-size: 0.8rem;
	color: gray;
	top: -1rem;
	left: 0;
}
.newsletter-container .form-group select:focus,
.newsletter-container .form-group input:focus,
.newsletter-container .form-group textarea:focus {
	outline: none;
}
.newsletter-container .form-group select:focus ~ .control-label,
.newsletter-container .form-group input:focus ~ .control-label,
.newsletter-container .form-group textarea:focus ~ .control-label {
	color: #337ab7;
}
.newsletter-container .form-group select:focus ~ .bar::before,
.newsletter-container .form-group input:focus ~ .bar::before,
.newsletter-container .form-group textarea:focus ~ .bar::before {
	width: 100%;
	left: 0;
}

/*Media query for tab view*/
@media(max-width: 991px) {
	.blog-flex {
		display: inherit;
		.col-8,
		.col-4 {
			width: 100%;
			display: block;
		}
		.col-4 {
			padding: 35px;
		}
	}
}
/*Media query for tab version(768px)*/
@media(max-width: 768px) {
	.team-container {
		.team-flat {
			.team-item {
				width: 50%;
			}
		} 
	}
	.grid-col-6 {
		width: 100%;
		height: 450px;
			h3 {
			font-size: 16px;
			left: 5%;
			bottom: 35px;
		}
	}
	.grid-col-8 {
		width: 100%;
		height: 380px;
	}
	.grid-col-3 {
		width: 100%;
		height: 280px;
	}
	.blog-wrap {
		width: 100%;
		display: block;
	}
}

/*Media query for mobile version(480px)*/
@media(max-width: 480px) {
	.team-container {
		.team-flat {
			.team-item {
				width: 100%;
			}
		} 
	}
	.grid-col-6 {
		width: 100%;
		height: 323px;
	}
	.grid-col-3 {
		width: 100%;
		height: 250px;
	}
}
* {
    box-sizing: border-box;
}

@media (max-width: 631px) {
	#menu-footer-menu > li {
		width: 49%;
	}
}